:root {
  --primary-color: #5fbaa7;
}
* {
  box-sizing: border-box;
}
#showcase {
  position: relative;
}
#exchangerates {
  position: absolute;
  top: 0px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 11, 41, 0.9);
  width: 300px;
  border: 1px solid #333333;
  border-radius: 20px;
}
#exchangerates img {
  width: 50px;
}

#exchangerates h1 {
  color: var(--primary-color);
}
#exchangerates p {
  text-align: center;
}
#exchangerates .btns {
  color: #fff;
  background-color: #5fbaa7;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
#exchangerates .currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency select {
  padding: 10px 20px 10px 10px;
  border: 1px solid #dedede;
  font-size: 16px;
}
.currency input {
  border: 0;
  font-size: 30px;
  text-align: right;
  background: transparent;
  width: 100px;
  color: #fff;
}
.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate {
  color: var(--primary-color);

  font-size: 14px;
  padding: 0 14px;
}
select:focus,
input:focus,
button:focus {
  outline: 0;
}
@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
